<div class="container">
  <div class="row">
      <% @volunteers.reverse_each do |v| %>
        <div class="card-panel grey lighten-4">
          <p><strong><%= v.first_name %> <%= v.last_name %></strong> signed up on <strong><%= v.created_at %></strong></p>
          <p><strong>Experience level:</strong> <%= v.experience %> </p>
          <p><strong>E-mail: </strong><%= v.email %> </p>
          <p><strong>Phone: </strong><%= v.phone %></p>
        </div>
      <% end %>
  </div>
</div>
