<span>
  Welcome, <%= current_user.name %>
</span>

<div>
  Here are the upcoming events you can sign up for:
</div>

<div class="row">
  <% @events.reverse_each do |e| %>
    <% if e.still_open_to_volunteers? && e.date >= Date.today %>
      <div class="card-panel grey lighten-3 col s12 m4">
        <p>
          <strong>Date: </strong><%= e.date.strftime("%d. %B %Y") %>
        </p>
        <p>
          <strong>Starts: </strong><%= e.start_time.strftime("%H:%M") %>
        </p>
        <p>
          <strong>Ends: </strong><%= e.end_time.strftime("%H:%M") %>
        </p>
        <p>
          <strong>Available volunteer spots: </strong><%= e.volunteer_spaces_available %>
        </p>
        <% unless current_user.signed_up_for?(e) %>
          <div class="submit_button waves-effect waves-light btn">
            <%= link_to "Sign up", add_volunteer_event_path(e) %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
