<div class="row">
  <div class="col s12">
    <h5>Create a new user.</h5>
  </div>
</div>

<%= form_for(@user, url: create_user_path) do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.select :role, options_for_select({ "Admin" => "admin", "Organizer" => "organizer" }) %>
      <%= f.label :role %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %>
      <!-- <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br /> -->
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
    </div>
  </row>

  <div class="actions submit_button waves-effect waves-light btn light-green">
    <%= f.submit "Save" %>
  </div>

<% end %>
