<h2>Create a new user</h2>

<%= form_for(@user, url: create_user_path) do |f| %>

  <div class="input-field col s4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field col s4">
    <%= f.select :role, options_for_select({ "Admin" => "admin", "Organizer" => "organizer" }) %>
    <%= f.label :role %>
  </div>

  <div class="input-field col s4">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field col s4">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<% if current_user.nil? %>
  <%= render "devise/shared/links" %>
<% end %>
