<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Event date</th>
      <th>Start</th>
      <th>End</th>
      <th>Organizer</th>
      <th>Volunteer spaces</th>
      <th>Volunteers still needed</th>
      <th>Customer spaces</th>
      <th>Customers who haven't responded</th>
      <th>Customers confirmed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.reverse_each do |event| %>
      <tr>
        <td><%= event.date.strftime("%d %b. %Y") %></td>
        <td><%= event.start_time.strftime("%H:%M") %></td>
        <td><%= event.end_time.strftime("%H:%M") %></td>
        <td><%= event.organizer %></td>
        <td><%= event.volunteer_spaces %></td>
        <td><%= event.volunteer_spaces_available %></td>
        <td><%= event.order_spaces %></td>
        <td><%= event.invited_orders %></td>
        <td><%= event.confirmed_orders %></td>
        <td>
          <%= link_to "Add customers manually", add_customer_event_path(event) %>
          |
          <%= link_to "Send invitations for remaining spaces", send_invitations_event_path(event) %>
          |
          <%= link_to "Edit event", edit_event_path(event) %>
          |
          <%= link_to "Delete event", event, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_event_path, class: "btn-floating btn-large waves-effect waves-light" do %>
    <i class="material-icons">add</i>
<% end %>
