<%= form_for @event, :html => {:class => 'validate'} do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">today</i>
      <%= f.text_field :date, class: "datepicker" %>
      <%= f.label :date %>
    </div>
  </div>

  <div class="row timepicker">
    <div class="input-field col m6">
      <i class="material-icons prefix">query_builder</i>
      <%= f.time_select :start_time, ignore_date: true, minute_step: 15, class: 'center' %>
      <%= f.label :start_time %>
    </div>

      <div class="input-field col m6">
        <i class="material-icons prefix">query_builder</i>
        <%= f.time_select :end_time, ignore_date: true, minute_step: 15, class: 'center' %>
        <%= f.label :end_time %>
      </div>
    </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.number_field :volunteer_spaces, :value => '0', :min => '0' %>
      <%= f.label "How many volunteers are needed?" %>
    </div>
    <div class="input-field col s4">
      <%= f.number_field :order_spaces, :value => '0', :min => '0' %>
      <%= f.label "How many customers can attend?" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.select :organizer_id, options_from_collection_for_select(@organizers, :id, :name ) %>
      <%= f.label :organizer_id %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= select_tag :volunteer_ids, options_from_collection_for_select(@volunteers, :id, :name ),
        { :multiple => true }%>
      <%= label_tag "Volunteers" %>
    </div>
  </div>

  <div class="submit_button waves-effect waves-light btn">
    <%= f.submit "Create event"%>
  </div>

<% end %>
