<%= form_for @event, :html => {:class => 'validate'} do |e| %>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">today</i>
      <%= e.text_field :date, class: "datepicker" %>
      <%= e.label :date %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">query_builder</i>
      <%= e.time_select :start_time, ignore_date: true, minute_step: 15 %>
      <%= e.label :start_time %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">query_builder</i>
      <%= e.time_select :end_time, ignore_date: true, minute_step: 15 %>
      <%= e.label :end_time %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= e.select :organizer_id, options_from_collection_for_select(@organizers, :id, :name ) %>
      <%= e.label :organizer_id %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= select_tag :volunteer_ids, options_from_collection_for_select(@volunteers, :id, :name ),
        { :multiple => true }%>
      <%= label_tag :volunteer_id %>
    </div>
  </div>

  <div class="submit_button waves-effect waves-light btn">
    <%= e.submit "Create event"%>
  </div>

<% end %>
