<div class="row">
  <div class="col s12">
    <strong>First, tell us how to get in touch with you. In the next step, you'll choose the bikes you want.</strong>
  </div>
</div>

<%= form_for @customer do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <%= f.text_field :first_name, autofocus: true %>
      <%= f.label :first_name, "First name" %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :last_name %>
      <%= f.label :last_name, "Last name" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">email</i>
      <%= f.email_field :email %>
      <%= f.label :email, "Email" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">phone</i>
      <%= f.telephone_field :phone %>
      <%= f.label :phone, "Phone \(optional\)" %>
    </div>
  </div>

  <div>
    If you don't have an email address or prefer to register in person, you can
    call us at 030 64448044, visit our workshop at <a href="http://rueckenwind.berlin/kontakt/"
    target="_blank">Lenaustraße 3, 12047 Berlin</a> or write us a message on <a href="https://www.facebook.com/rueckenwind.fahrraeder/"
    target="_blank">Facebook</a>.
  </div>
  <br />

  <div class="submit_button waves-effect waves-light btn">
    <%= f.submit "Submit" %>
  </div>

<% end %>
