<div class="container">
  <div class ="row">
    <%= form_for @customer do |f| %>
      <div class="input-field col s6">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <div class="input-field col s6">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
      <div class="input-field col s6">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="input-field col s6">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="input-field col s6">
        <%= f.label :phone %>
        <%= f.telephone_field :phone %>
      </div>
      <div class="input-field col s6">
        <%= f.label :facebook %>
        <%= f.url_field :facebook %>
      </div>
      <div class="submit_button">
        <%= f.submit "Save"%>
      </div>
    <% end %>
  </div>
</div>
