<div class="row">
  <%= form_for @order do |o| %>
    <div class="input-field col l4">
      <%= o.number_field :mens_bikes, :min => '0' %>
      <%= o.label :mens_bikes %>
    </div>
    <div class="input-field col l4">
      <%= o.number_field :womens_bikes, :min => '0' %>
      <%= o.label :womens_bikes %>
    </div>
    <div class="input-field col l4">
      <%= o.number_field :kids_bikes, :min => '0' %>
      <%= o.label :kids_bikes %>
    </div>
    <div class="submit_button waves-effect waves-light btn light-green right">
      <%= o.submit "Save"%>
    </div>
  <% end %>
  </div>
