<table class="striped lighten-2 responsive-table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Registered on:</th>
      <th>Order status</th>
      <th>Bikes ordered</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.reverse_each do |order| %>
      <tr>
        <td><%= order.customer.first_name %> <%= order.customer.last_name %></td>
        <td><%= order.customer.email %></td>
        <td><%= order.customer.phone %></td>
        <td><%= order.created_at.strftime("%d.%m.%Y")%></td>
        <td><%= order.status %></td>
        <td><%= order.total_bikes %></td>
        <td><%= order.notes %></td>
        <td><%= link_to "Edit", edit_order_path(order) %></td>
        <td><%= link_to "Delete", order, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to orders_path(format: :csv) do %>
  <i class="material-icons md-36">get_app</i>
<% end %>
