<div class="container">
  <div class="row">
      <% @orders.reverse_each do |o| %>
        <div class="card-panel grey lighten-4">
          <p><strong><%= o.customer.first_name %> <%= o.customer.last_name %></strong> placed an order on <strong><%= o.created_at %></strong></p>
          <div>
            <p><strong>Men&rsquo;s bikes:</strong> <%= o.mens_bikes %> </p>
            <p><strong>Women&rsquo;s bikes:</strong> <%= o.womens_bikes %> </p>
            <p><strong>Kids&rsquo; bikes:</strong> <%= o.kids_bikes %> </p>
            <p><strong>Total bikes:</strong> <%= o.total_bikes %></p>
            </div>
          <p> <strong>Notes:</strong> <%= o.notes %> </p>
          <div>
            <p><strong>Invitation sent?</strong> <%= o.invited_yn %></p>
            <p><strong>Confirmed?</strong> <%= o.confirmed_yn %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
