<div class="container">
  <div class="row">
    <%= form_for @order, :html => {:class => 'validate'} do |o| %>
      <div class="input-field col s4">
        <i class="material-icons prefix">directions_bike</i>
        <%= o.number_field :mens_bikes, :value => '0', :min => '0' %>
        <%= o.label :mens_bikes %>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">directions_bike</i>
        <%= o.number_field :womens_bikes, :value => '0', :min => '0' %>
        <%= o.label :womens_bikes %>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">directions_bike</i>
        <%= o.number_field :kids_bikes, :value => '0', :min => '0' %>
        <%= o.label :kids_bikes %>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <%= o.text_area :notes, placeholder: "Anything else you want to tell us\?" %>
      </div>
      <div class="submit_button waves-effect waves-light btn light-green right">
        <%= o.submit "Save"%>
      </div>
    <% end %>
  </div>
</div>
