<h1>New order</h1>

<%= form_for :order do |f| %>
  <p>
    <%= f.label :mens_bikes %>
    <%= f.number_field :mens_bikes %>
    <%= f.label :womens_bikes %>
    <%= f.number_field :womens_bikes %>
    <%= f.label :kids_bikes %>
    <%= f.number_field :kids_bikes %>
  </p>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
  <p>
   <%= f.submit %>
 </p>
<% end %>
