<div class="container">
  <div class="row">
    <%= form_for @order, :html => {:class => 'validate'} do |f| %>
      <div class="input-field col s4">
        <%= f.number_field :mens_bikes, min: 0 %>
        <%= f.label :mens_bikes %>
      </div>
      <div class="input-field col s4">
        <%= f.number_field :womens_bikes, min: 0 %>
        <%= f.label :womens_bikes %>
      </div>
      <div class="input-field col s4">
        <%= f.number_field :kids_bikes, min: 0 %>
        <%= f.label :kids_bikes %>
      </div>
      <div class="input-field col s12">
        <%= f.text_area :notes, placeholder: "Anything else you want to tell us\?" %>
        <%= f.label :notes %>
      </div>
      <div class="submit_button waves-effect waves-light btn light-green right">
        <%= f.submit "Save"%>
      </div>
    <% end %>
  </div>
</div>
