<div class="row">
  <div class="col s12">
    <h6>Now choose the bikes you want. You'll be building them with us in our workshop, free of charge.</h6>
  </div>
</div>
<br />

<%= form_for @order, :html => {:class => 'validate'} do |o| %>

  <div class="row">
    <div class="input-field col s4">
      <i class="material-icons prefix">directions_bike</i>
      <%= o.number_field :mens_bikes, :value => '0', :min => '0' %>
      <%= o.label :mens_bikes, "Men's bikes" %>
    </div>
    <div class="input-field col s4">
      <i class="material-icons prefix">directions_bike</i>
      <%= o.number_field :womens_bikes, :value => '0', :min => '0' %>
      <%= o.label :womens_bikes, "Women's bikes" %>
    </div>
    <div class="input-field col s4">
      <i class="material-icons prefix">directions_bike</i>
      <%= o.number_field :kids_bikes, :value => '0', :min => '0' %>
      <%= o.label :kids_bikes, "Kids' bikes" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">create</i>
      <%= o.text_area :notes, placeholder: "Anything else you want to tell us\?" %>
    </div>
  </div>

  <div class="submit_button waves-effect waves-light btn light-green">
    <%= o.submit "Place order"%>
  </div>

<% end %>
