<!DOCTYPE html>
<html>
<head>
  <title>Rueckenwind</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <nav class="green">
    <div class="navbar-wrapper container">
      <%= link_to "Rückenwind", root_path, { :class=>"brand-logo left" } %>
      <ul class="right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </div>
  </nav>

<%= yield %>
<footer class="page-footer green">
  <div class="container">
    <div class="footer-copyright">
      &copy; 2016 Rückenwind
    </div>
  </div>
</footer>
</body>
</html>
