<!DOCTYPE html>
<html>
<head>
  <title>Rueckenwind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <nav class="light-green">
    <div class="nav-wrapper">
      <%= link_to image_tag("logo.png", :class => "rueckenwind_logo", :alt => "Rückenwind logo"), root_path, { :class=>"brand-logo left" } %>
      <ul class="right">
        <li>
          <%= link_to "About", "/pages/about" %>
        </li>
        <li>
          <%= link_to "Contact", "http://rueckenwind.berlin/en/contact/", :target => "_blank" %>
        </li>
        <li>
          <a href="#">Sign in</a>
        </li>
      </ul>
    </div>
  </nav>
<p><%= flash[:notice] %></p>
<p><%= flash[:error] %></p>
<%= yield %>
<footer class="page-footer light-green">
  <div class="container">
    <div class="footer-copyright">
      &copy; 2016 Rückenwind
    </div>
  </div>
</footer>
</body>
</html>
