<!DOCTYPE html>
<html>
<head>
  <title>Rueckenwind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <nav class="light-green">
    <div class="navbar-wrapper container">
      <%= link_to "Rückenwind", root_path, { :class=>"brand-logo left" } %>
      <ul class="right">
        <li>
          <%= link_to "About", "/pages/about" %>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </div>
  </nav>

<%= yield %>
<footer class="page-footer light-green">
  <div class="container">
    <div class="footer-copyright">
      &copy; 2016 Rückenwind
    </div>
  </div>
</footer>
</body>
</html>
