<!DOCTYPE html>
<!--
-------- __@      __@       __@       __@      __~@
----- _`\<,_    _`\<,_    _`\<,_     _`\<,_    _`\<,_
---- (*)/ (*)  (*)/ (*)  (*)/ (*)  (*)/ (*)  (*)/ (*)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<html>
<head>
  <title>Rueckenwind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <%= link_to image_tag("logo.png", :class => "rueckenwind_logo", :alt => "Rückenwind logo"), root_path, { :class=>"brand-logo center" } %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to "About", "/pages/about" %>
          </li>
          <li>
            <%= link_to "Contact", "http://rueckenwind.berlin/en/index.php#contact", :target => "_blank" %>
          </li>
          <li>
            <% if current_user.nil? %>
              <%= link_to "Sign in", new_user_session_path %>
            <% else %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
            <% end %>
          </li>
        </ul>
        <ul class="side-nav green-text" id="mobile-demo">
          <li>
            <%= link_to "About", "/pages/about" %>
          </li>
          <li>
            <%= link_to "Contact", "http://rueckenwind.berlin/en/index.php#contact", :target => "_blank" %>
          </li>
          <li>
            <% if current_user.nil? %>
              <%= link_to "Sign in", new_user_session_path %>
            <% else %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">

      <% if notice %>
        <script type="text/javascript">
          Materialize.toast('<%= notice %>', 3000, 'indigo darken-3')
        </script>
      <% end %>

      <% if alert %>
        <script type="text/javascript">
          Materialize.toast('<%= alert %>', 3000, 'purple accent-3')
        </script>
      <% end %>

      <% unless flash.empty? %>
        <div class="flash error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="footer-copyright">
        &copy; <%= year %> Rückenwind
      </div>
    </div>
  </footer>
  <script>
   $(".button-collapse").sideNav();
  </script>

</body>
</html>
