<!DOCTYPE html>
<html>
<head>
  <title>Rueckenwind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/fa0b885b48.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
  <header>
    <nav class="light-green">
      <div class="nav-wrapper">
        <%= link_to image_tag("logo.png", :class => "rueckenwind_logo", :alt => "Rückenwind logo"), root_path, { :class=>"brand-logo center" } %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to "About", "/pages/about" %>
          </li>
          <li>
            <%= link_to "Contact", "http://rueckenwind.berlin/en/contact/", :target => "_blank" %>
          </li>
          <li>
            <% if current_user.nil? %>
              <%= link_to "Sign in", new_user_session_path %>
            <% else %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
            <% end %>
          </li>
        </ul>
        <ul class="side-nav green-text" id="mobile-demo">
          <li>
            <%= link_to "About", "/pages/about" %>
          </li>
          <li>
            <%= link_to "Contact", "http://rueckenwind.berlin/en/contact/", :target => "_blank" %>
          </li>
          <li>
            <% if current_user.nil? %>
              <%= link_to "Sign in", new_user_session_path %>
            <% else %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">

    <% if notice %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 4000, 'indigo')
      </script>
    <% end %>

    <% if alert %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 4000, 'red-accent')
      </script>


    <% end %>


    <p><%= flash[:error] %></p>




      <%= yield %>

    </div>
  </main>

  <footer class="page-footer light-green">
    <div class="container">
      <div class="footer-copyright light-green">
        &copy; 2016 Rückenwind
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script>
   $(".button-collapse").sideNav();
  </script>

</body>
</html>
